body {
    background-color: white;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}

#navbar {
   list-style-type: none;
   margin: 0;
   padding: 0;
   float: right;
   padding: 10px;
}

.navbar_menuitem {
    display: inline;
    padding: 5px;
}

#avatar{
    border-radius: 50%;
}

a:link {
    color: grey;
    text-decoration: none;
}

a:visited {
    color: grey;
    text-decoration: none;
}

#center {
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#center_item {
    padding: 15px;
}

#center input{
    width: 550px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid grey;
}

button {
    width: 130px;
    height: 30px;
}

#center a:link {
    color: darkblue;
}

#center a:visited {
    color: darkblue;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}

#footer_left {
    padding: 10px;
    float: left;
}

#footer_right {
    padding: 10px;
    float: right;
}